body {
	font-family: 'Titillium Web', sans-serif;
	text-transform: none;
	letter-spacing: normal;
	font-size: 18px;
	color:#4B4E53;
	font-weight:normal;
}
img {
	vertical-align: middle;
	border:none;
	-ms-interpolation-mode:bicubic;
	height: auto;
	max-width: 100%;
	outline:none;
}
* {
	margin: 0;
	padding: 0;
}
.clear {
	clear:both;
}
p {
	margin:10px auto;
	font-size: 18px;
	color:#4B4E53;
}
a {
	color: #000;
	text-decoration:none;
 -webkit-transition:color .3s ease-in-out;
 -moz-transition:color .3s ease-in-out;
 -o-transition:color .3s ease-in-out;
 transition:color .3s ease-in-out;
}
a:hover {
	color: #F8BD00;
 -webkit-transition:color .3s ease-in-out;
-moz-transition:color .3s ease-in-out;
-o-transition:color .3s ease-in-out;
transition:color .3s ease-in-out;
	text-decoration:none;
}
.style1 {
	font-style:italic;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}
.header_bg {
	background-color: #015570;
    padding: 10px 0px;
    border-bottom: .4em solid #F8BD00;
}
.header {
	width:1168px;
	margin:0px auto;
}
.logo {
	float:left;
}
.nav {
	position:relative;
	margin: 16px auto 0;
	z-index: 4;
    margin: 16px auto 0;
    float: left;
}
.global-nav-overlap{
	z-index: 99!important;
	margin-left: 45px!important;
}
.container_home {
	width:1168px;
	margin:0px auto;
	padding: 30px 0 0;
}
.container_home h2 {
	font-weight:700;
	font-size: 40px;
	color:#4c4c4c;
	text-transform:  uppercase;
	text-align: center;
	font-family: Quantico, sans-serif;
}
.container_home h2 span {
	color:#26a2e1;
}
.container_home p {
	text-align: center;
}
.container_home ul {
	display: block;
	text-align: center;
	width: 100%;
	margin: 3% auto 0;
}
.container_home ul li {
	list-style-type:  none;
	display: table-cell;
	position: relative;
	border: 1px solid #fff;
}
.container_home ul li img {
	opacity: 1;
 -webkit-transition: .3s ease-in-out;
 transition: .3s ease-in-out;
}
.container_home ul li:hover img {
	opacity: .5;
}
.container_home ul li:hover strong {
	background: rgba(0, 0, 0, 0.99);
 -webkit-transition:color .3s ease-in-out;
-moz-transition:color .3s ease-in-out;
-o-transition:color .3s ease-in-out;
transition:color .3s ease-in-out;
}
.container_home ul li strong {
	display: block;
	bottom: 7%;
	position: absolute;
	width: 100%;
	padding: 5% 0;
	font-weight: 700;
	background: rgba(0, 0, 0, 0.77);
}
.container_home ul li strong a {
	color: #fff;
	text-transform:  uppercase;
	font-size: 24px;
}
.latest_news {
	width:1168px;
	margin:0px auto;
	padding: 30px 0;
}
.latest_news h3 {
	font-weight:700;
	font-size:48px;
	text-transform:  uppercase;
	text-align: center;
	color: #4B4E53;
	border-bottom: 7px solid #F8BD00;
	font-family: Quantico, sans-serif;
	display: table;
	margin: 0 auto 40px;
	padding: 0;
}
.latest_news_box {
	background-color: #26a2e1;
}
.latest_news_box .news_img {
	float: left;
}
.latest_news_box .news_text {
	float: left;
	width: 23%;
	background-color: #26a2e1;
	padding: 10.7% 4.9%;
}
.latest_news_box p {
	color: #fff;
}
.latest_news_box p a {
	font-size: 20px;
	font-weight:  700;
	text-transform: uppercase;
	display: block;
	text-align: right;
	margin: 9px 0 0;
}
.right_box .news_img {
	float: right;
}
.footer_links {
	width:1168px;
	margin:0px auto;
	padding: 30px 0;
}
.footer_links ul {
	float: left;
	width: 22.5%;
	border-right: 1px solid #e9e9e9;
	padding: 0 0% 0 0;
	margin: 0 3% 0 0;
}
.footer_links ul li {
	background-image: url(./images/li.jpg);
	background-repeat: no-repeat;
	background-position: left 7px;
	padding: 0 0 0 17px;
	margin: 3px 0;
	list-style-type:  none;
}
.footer_links ul strong {
	color:#0c2d72;
}
.footer_links ul strong img {
	/* float: left; */
	vertical-align: sub;
	margin: 0 3px 0 0;
}
.footer_links ul li a {
	font-size: 16px;
	font-weight:  700;
}
.footer_links ul li a:hover {
	text-decoration: underline;
}
.last {
	border: none!important;
	float: right !important;
	padding: 0 0% 0 0!important;
	margin: 0 0% 0 0!important;
}
.footer_bg {
	width:100%;
	margin:0 auto;
	padding:0px;
	border-top: .4em solid #F8BD00;
	background-color: #4B4E53;
}
.footer {
	width:1168px;
	margin:0px auto;
	padding: 1px 0;
}
.footer p {
	color: #fff;
	text-align: left;
}
.footer p a {
	float: right;
	color: #fff;
	margin: 0 0 0 16px;
	font-weight:  700;
}
.footer p a:hover {
	color: #F8BD00;
}
.search_form {
	border-bottom: 1px solid #cecece;
    margin: 0 0 0 29px;
    width: 200px;
    float: right;
    padding: 5px 0px;
}
.search_field {
	background-color: transparent;
	border: none;
	font-size: 18px;
	width: 86%;
	color: #fff;
}

input[type=search]:focus, input[type=submit]:focus {
	outline:none;
	border: 0px solid #555;
}
.search_submit {
	cursor:pointer;
	background-image: url(./images/search.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-color: transparent;
	border: none;
	color: transparent;
	width: 20px;
	height: 20px;
}
.sticky-header {
	opacity: 0.9;
	background-color: #6d6f73!important;
	position: fixed;
	width: 100%;
	z-index: 999;
}
.banner {
	width:100%;
	margin:0 auto;
	padding:0px;
	border-top: .4em solid #F8BD00;
	background-color: #4B4E53;
	position: relative;
}
.banner img {
}
.bannertext {
	position: absolute;
	top: 19%;
	width: 53%;
	height: 100%;
	right: 0;
}
.bannertext h3 {
	text-transform:  uppercase;
	font-family: Quantico, sans-serif;
	background-image: url(./images/line.png);
	background-repeat: no-repeat;
	background-position: left 16px;
	font-size: 64px;
	color: #fff;
	clear: both;
	display: block;
	text-align: left;
	padding: 0 0 0 16px;
}
.nav{
	box-sizing: border-box;
	z-index: 4;
    margin: 16px auto 0;
}
.nav, .nav ul, .nav ul li, .nav ul li a, .nav #menu-button,.nav #menu-button1 {
	padding: 0;
    border: 0;
    list-style: none;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.nav #menu-button ,.nav #menu-button1 {
	display: none;
}
.nav > ul {
	display:block;
}
.nav.align-right > ul > li {
}
.nav > ul > li {
	display: inline-block;
	position: relative;
	text-transform:uppercase;
	background-repeat: no-repeat;
	background-position: right center;
	font-family: Quantico, sans-serif;
}
.nav.align-center > ul {
	float: none;
	text-align: left;
}
.nav.align-center > ul > li {
	float: none;
}
.nav.align-center ul ul {
	text-align: left;
}
.nav > ul > li > a {
	display: block;
	padding: 12px 10px;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 700;
}
.nav > ul > li:hover > a, .nav > ul > li > a:hover, .nav > ul > li.active > a {
	background-color:#F8BD00;
	color: #fff;
	text-decoration: none;
}
.nav > ul > li > a.active {
	color: #1581b9;
	text-decoration: none;
}
.nav > ul > li.has-sub > a {
}
.nav > ul > li.has-sub:hover {
	border-top-color: #ffffff!important;
}
.nav > ul > li.has-sub.active, .nav > ul > li.has-sub:hover > a {
	border-top-color: #ffffff!important;
}
.nav ul ul {
	position: absolute;
	left: -9999px;
	top: 50px;
	padding-top: 6px;
	font-size:12px;
	font-weight:400;
	opacity: 0;
	background-color: #999;
	z-index:4;
	padding:0px 0px 0px 0px !important;
	-webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
	-moz-transition: top 0.2s ease, opacity 0.2s ease-in;
	-ms-transition: top 0.2s ease, opacity 0.2s ease-in;
	-o-transition: top 0.2s ease, opacity 0.2s ease-in;
	transition: top 0.2s ease, opacity 0.2s ease-in;
	z-index:2;
	text-align:left;
	width: 180px;
	background: #F8BD00;
}
.nav ul ul h3 {
	color:#fff;
	padding: 18px 8px 16px;
	font-size:18px;
	background:#a9bb38;
	display:block;
}
.buddha_img {
	float: left;
	margin-right: 10px;
	margin-top: -5px;
}
.nav.align-right ul ul {
	text-align: right;
}
.nav > ul > li > ul {
	top: -2px;
	z-index:2;
}
.nav > ul > li:hover > ul {
	top:40px;
	left: 0;
	opacity: 1;
	z-index: 3;
}
.nav.align-right > ul > li:hover > ul {
	left: auto;
	right: 0;
}
.nav ul ul ul {
	padding-top: 0;
	padding-left: 6px;
}
.nav.align-right ul ul ul {
	padding-right: 6px;
}
.nav ul ul > li:hover > ul {
	left: 180px;
	top: 0;
	opacity: 1;
}
.nav.align-right ul ul > li:hover > ul {
	left: auto;
	right: 100%;
	opacity: 1;
}
.nav ul ul li {
	background-image:none!important;
	color:#666;
	list-style-type: none;
	border-bottom: 1px solid #fff;
	position:relative;
}
.quantity {
	position: absolute;
	right: 10px;
	top: 18px;
	font-size: 12px;
}
.nav ul ul {
	border:none;
}
.nav ul ul li a {
	color: #fff;
	display: block;
	font-size:15px;
	padding:12px 3%;
	text-transform: capitalize;
}
.nav ul ul li a:hover {
	color: #F8BD00!important;
	background:#1581b9;
}
.nav ul ul li:hover > a, .nav ul ul li.active > a {
	color: #fff;
	background: #4B4E53;
}
.nav ul ul li:first-child > a {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.nav ul ul li:last-child > a {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.nav > ul > li > ul::after {
 position: absolute;
 display: block;
}
.nav ul ul li.has-sub > a::after {
 content: "";
 position: absolute;
 width: 0;
 height: 0;
 border: 4px solid transparent;
 border-left-color: #777777;
 right: 17px;
 top: 14px;
}
.nav.align-right ul ul li.has-sub > a::after {
 border-left-color: transparent;
 border-right-color: #777777;
 right: auto;
 left: 17px;
}
.nav ul ul li.has-sub.active > a::after, .nav ul ul li.has-sub:hover > a::after {
 border-left-color: #333333;
}
.nav.align-right ul ul li.has-sub.active > a::after, .nav.align-right ul ul li.has-sub:hover > a::after {
 border-right-color: #333333;
 border-left-color: transparent;
}

@media only screen  and (max-width:1100px) {
	.search_form
	{
		width:100%!important;
	}
}
 @media only screen and (min-width: 981px) and (max-width:1100px) {
 .nav > ul > li {
 font-size: 15px;
 margin: 0 11px;
}
 .nav {
 width: 100%;
}
 .nav > ul > li > a {
 display: block;
 padding:15px 6px 15px 2px;
 font-size: 14px;
}

.global-nav-overlap{
	margin-left: 0px!important;
}

}
 @media all and (max-width:768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
 .nav {
width: 100%;
margin:0px auto 0px;
padding: 0px;
 width: 100%;
 float: none;
 display:block;
 text-align:left;
}

.global-nav-overlap{
	margin-left: 0px!important;
}
 .nav {
/*    background:#f58026;
  background: rgba(0, 0, 0, 0.5);*/
  }
 .nav > ul {
 display: none;
}

 .nav > ul.open {
 display: block;
 border-top: 1px solid #fff;
 background-color:#000;
 z-index: 10;
}
 .nav.align-right > ul {
 float: none;
}
 .nav.align-center > ul {
 text-align: left;
}
 .nav > ul > li, .nav.align-right > ul > li {
 float: none;
 display: block;
}
 .nav > ul > li {
 background:none;
 border-bottom:none;
 padding: 0px 0px;
}
 .nav > ul > li > a {
 padding:18px 10px 13px;
 text-decoration: none;
 color:#000;
 font-size: 15px;
 text-transform: uppercase;
 margin:0px 0px 0px;
 border-radius: 0px;
 -moz-border-radius: 0px;
 -webkit-border-radius: 0px;
 -o-border-radius: 0px;
 -khtml-border-radius:0px;
 text-align:left;
 background:#e6e6e6;
 border-bottom:1px solid #fff;
}
 .nav > ul > li.has-sub > a {
margin-right: 0px;
padding-right: 0px;
}
 .nav > ul > li.active > a {
 background: rgba(0, 0, 0, 0.1);
}
 .nav #menu-button,.nav #menu-button1 {
 display: block;
 text-decoration: none;
 font-size: 15px;
 color: #fff;
 padding:17px 10px 14px 10px;
 text-transform: uppercase;
 letter-spacing: 1px;
 cursor: pointer;
 text-align: left;
 font-family: Quantico, sans-serif;
}
 .nav ul ul, .nav ul li:hover > ul, .nav > ul > li > ul, .nav ul ul ul, .nav ul ul li:hover > ul, .nav.align-right ul ul, .nav.align-right ul li:hover > ul, .nav.align-right > ul > li > ul, .nav.align-right ul ul ul, .nav.align-right ul ul li:hover > ul {
 left: 0;
 right: auto;
 top: auto;
 opacity: 1;
 width: 100%;
 padding: 0;
 position: relative;
 text-align: left;
 background:none;
}
 .nav ul ul {
 background:#d9d9d9!important;
 padding:0px 0px 0px 0px !important;
}
 .nav ul ul li {
 color:#383737;
 list-style-type: none;
 padding:0px 0px !important;
 width:100%;
}
 .nav ul ul {
 border:none;
}
 .nav ul ul li a {
 width: 100%;
 box-shadow: none;
 padding: 15px 2%!important;
 background: transparent;
 color: #000;
 font-size:15px;
}
 .nav ul ul li a:hover {
 color:#fff;
}
 .nav ul ul ul li a {
 padding-left: 45px;
}
 .nav ul ul li:first-child > a, .nav ul ul li:last-child > a {
 border-radius: 0;
}
 .nav #menu-button::after ,.nav #menu-button1::after{
 display: block;
 content: '';
 position: absolute;
 height: 3px;
 width: 22px;
 border-top: 2px solid #fff;
 border-bottom: 2px solid #fff;
 right: 25px;
 top: 18px;
}
 .nav #menu-button::before,.nav #menu-button1::before {
 display: block;
 content: '';
 position: absolute;
 height: 3px;
 width: 22px;
 border-top: 2px solid #fff;
 right: 25px;
 top: 28px;
}
 .nav > ul > li.has-sub > a::after, .nav ul ul li.has-sub > a::after {
 display: none;
}
 .nav > ul > li > ul::after {
 display: none;
}
/* .nav > ul > li:hover > a, .nav > ul > li > a:hover, .nav > ul > li.active > a {
 color:#fff;
 background:#1581b9;
}*/
.nav ul ul li a:hover {
background-image:none;
color:#fff;
}
.nav ul ul {
border-radius:0px;
}
.nav > ul > li > a:hover {
 color: #fff!important;
 background:#1581b9;
}
 .nav > ul > li:hover > a {
 color:#464747;
}
}
 @media only screen and (min-width: 980px) and (max-width:1100px) {
.header, .container_home, .latest_news, .footer_links, .footer {
width:98%;
}
.logo {
 float: none;
 display: block;
 text-align: center;
 border-bottom: 1px dashed #fff;
 padding: 0 0 19px;
}
 .sticky-header {
 position: unset;
}
.latest_news_box .news_img {
 float: left;
 width: 49%;
}
.latest_news_box .news_text {
 float: left;
 width: 41%;
 background-color: #26a2e1;
 padding: 5.7% 4.9%;
}
}
 @media only screen and (min-width: 768px) and (max-width: 980px) {
.header, .container_home, .latest_news, .footer_links, .footer {
width:98%;
}
.logo {
 float: none;
 display: block;
 text-align: center;
 border-bottom: 1px dashed #fff;
 padding: 0 0 19px;
}
 .sticky-header {
 position: unset;
}
.latest_news_box .news_img {
 float: left;
 width: 49%;
}
.latest_news_box .news_text {
 float: left;
 width: 41%;
 background-color: #26a2e1;
 padding: 0.7% 4.9%;
}
.nav {
 margin: 10px auto 0;
 float: none;
}

.global-nav-overlap{
	margin-left: 0px!important;
}
}
 @media only screen and (min-width: 640px) and (max-width:768px) {
 .header, .container_home, .latest_news, .footer_links, .footer {
width:98%;
}
.logo {
 float: none;
 display: block;
 text-align: center;
 border-bottom: 1px dashed #fff;
 padding: 0 0 19px;
}
 .sticky-header {
 position: unset;
}
.latest_news_box .news_img {
 float: left;
 width: 100%;
}
.latest_news_box .news_text {
 float: left;
 width: 90%;
 background-color: #26a2e1;
 padding: 0 5%;
}

.nav {
 margin: 10px auto 0;
 float: none;
}
 .container_home ul li {
 display: inline-block;
 width: 49.6%;
 float: left;
}
.container_home ul li img {
 width: 100%;
}
.footer_links ul {
 float: left;
 width: 50%;
 border-bottom: 1px solid #e9e9e9;
 padding: 0 0% 2%;
 margin: 0 auto 2%;
 border-right: none;
}
.footer p {
 color: #fff;
 text-align: center;
}
.footer p a {
 float: none;
 margin: 0 0 0 16px;
}
 .container_home h2, .latest_news h3 {
 font-size: 37px;
}

.global-nav-overlap{
	margin-left: 0px!important;
}
}
 @media only screen and (min-width: 480px) and (max-width:640px) {
 .header, .container_home, .latest_news, .footer_links, .footer {
width:98%;
}
.logo {
 float: none;
 display: block;
 text-align: center;
 border-bottom: 1px dashed #fff;
 padding: 0 0 19px;
}
 .sticky-header {
 position: unset;
}
.latest_news_box .news_img {
 float: left;
 width: 100%;
}
.latest_news_box .news_text {
 float: left;
 width: 90%;
 background-color: #26a2e1;
 padding: 0 5%;
}

.nav {
 margin: 10px auto 0;
 float: none;
}
 .container_home ul li {
 display: inline-block;
 width: 48.6%;
 float: left;
}
.container_home ul li img {
 width: 100%;
}
.footer_links ul {
 float: left;
 width: 50%;
 border-bottom: 1px solid #e9e9e9;
 padding: 0 0% 2%;
 margin: 0 auto 2%;
 border-right: none;
}
.footer p {
 color: #fff;
 text-align: center;
}
.footer p a {
 float: none;
 margin: 0 0 0 16px;
}
 .container_home h2, .latest_news h3 {
 font-size: 28px;
}

.global-nav-overlap{
	margin-left: 0px!important;
}
}
 @media only screen and (min-width: 220px) and (max-width:480px) {
 .header, .container_home, .latest_news, .footer_links, .footer {
width:98%;
}
.logo {
 float: none;
 display: block;
 text-align: center;
 border-bottom: 1px dashed #fff;
 padding: 0 0 19px;
}
 .sticky-header {
 position: unset;
}
.latest_news_box .news_img {
 float: left;
 width: 100%;
}
.latest_news_box .news_text {
 float: left;
 width: 90%;
 background-color: #26a2e1;
 padding: 0 5%;
}

.nav {
 margin: 10px auto 0;
 float: none;
}
.nav>ul
{
	margin-bottom: 0px!important;
}
 .container_home ul li {
 display: inline-block;
 width: 48.6%;
 float: left;
}
.container_home ul li img {
 width: 100%;
}
.footer_links ul {
 float: none!important;
 width: 80%;
 border-bottom: 1px solid #e9e9e9;
 padding: 3% 10%!important;
 margin: 0 auto !important;
 border-right: none;
}
.footer p {
 color: #fff;
 text-align: center;
}
.footer p a {
 float: none;
 margin: 0 0 0 16px;
}
 .container_home h2, .latest_news h3 {
 font-size: 21px;
}
.global-nav-overlap{
	margin-left: 0px!important;
}

}
.od-UserFeedback-button{
	display: none!important;
}
.Files-leftNav{
	display: none!important;
}
.Files-mainColumn{
	left: 0px!important;
}
/* For removing subsite shown at top of site title(demo subsite) */
.ms-compositeHeader-topWrapper {
	display:none!important;
}
/* For right side controls */
.ms-compositeHeader-rightControls{
	display:none!important;
}
.quick-launch
{
	padding: 10px;
    color: #225570!important;
    font-family: Titillium Web,sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.quick-launch a
{
	color: #225570;
}
.ms-siteHeader-siteName {
	color: #225570!important;
	font-weight: 800;
	padding:0px 7px;
	display: inherit;
	text-transform: uppercase;
}
[dir=ltr] .ms-siteHeader-siteInfo
{
	display: inline-block;
}
.quick-launch a:hover
{
	color: #f8bd00;
}
.ms-siteLogoAcronym {
    line-height: 64px;
    width: 64px;
    height: 64px;
    font-size: 28px;
    font-weight: 100;
    background-color: #225570;
    text-align: center;
    transition: all .5s ease;
    color: #f5bd03;
    border: 3px solid #f5bd03;
    text-transform: uppercase;
    font-weight: 900!important;
}
.ms-compositeHeader
{
	padding:10px;
}
.ms-compositeHeader-mainLayout
{
	height:100%!important;
}
.navbar
{
	margin-bottom: 0px;
}
.navbar-collapse
{
	padding: 0px;
}
.navbar-nav>li>a
{
	font-size: 14px;
}
.open>.dropdown-menu
{
	display:none;
}
.nav>li>a:hover
{
	text-decoration: none;
    background-color: #f8bd00!important;
    color: white!important;
}
.global-nav{
	margin-top: 23px;
}
.ms-siteHeader
{
	overflow: visible!important;
}
#top-navigation1
{
	background: #215372;
    width: 100%;
    margin-top: 0px;
}
#topnavigationul{
	margin-bottom: 0px;
}
.ms-compositeHeader-siteAndActionsContainer
{
	margin-top:0px!important;
}
.ms-HorizontalNav, .ms-compositeHeader-actionsContainer
{
	display:none!Important;
}
.ms-siteHeader.compact .renderHorizontally .ms-siteHeader-groupInfo{
	margin:0px 0px!important;
}
.ms-compositeHeader-headerAndNavContainer{
	min-height:85px
}